/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	/* Parent container for the page */
	width: 875px;
	margin: auto;
}

header {
	/* Using flex to space nav+logo on main axis and center
	on cross axis */
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav {
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav a {
	color: grey;
	text-decoration: none;
}

main .titleContainer {
	/* Same flex as above, but aligning to right side main axis
	and centered on cross for page title */
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid black;
	padding-bottom: 75px;
}
main .pageTitle:first-child {
	/* Adding right-margins to INNOVATION box to move it
	away from the image */
	margin-right: 100px;
}
main .pageTitle {
	text-align: center;
}
main .pageTitle h1 {
	font-size: 80px;
}
main .pageTitle button {
	 background: transparent;
	 border: 1px solid black;
	 width: 180px;
	 height: 35px;
	 font-size: 18px;
}

main .mainContainer {
	/* Flex to organize the main content into rows with
	gaps in the center */
	margin: 50px 0 40px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .mainContainer:last-child {
	/* Border between second set of main content
	and contact */
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

.contact p {
	margin-bottom: 12px;
	font-size: 16px;
}

footer p {
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
}
